* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  border: none;
}

body {
  background-color: var(--bg);

  padding: 20px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

:root {
  --light-green: #58ff57;
  --dark-green: #00ad00;
  --blue: #00b0f0;
  --red: #e33617;
  --gold: #dc8e13;
  --bg: #3f3f3f;
  --bg-light: #f3969d;
}

.container {
  width: 600px;
  margin: auto;
}

.row {
  display: flex;
}

/* ------------------------ */
/*           ROW1           */
/* ------------------------ */
.row1 {
  padding: 0.3rem;
  background-color: var(--bg-light);
  gap: 0.5rem;
  margin-bottom: 1.2rem;
  border: 1px solid black;
}

.logo {
  background-color: var(--light-green);
  height: 4rem;
  border: 1px solid black;
}

.menu {
  background-color: var(--blue);
  height: 4rem;
  border: 1px solid black;
}

/* ------------------------ */
/*           ROW2           */
/* ------------------------ */

.banner {
  background-color: var(--red);
  height: 8rem;
  border: 1px solid black;
}
.con2 {
  margin-bottom: 0.5rem;
}

/* ------------------------ */
/*           ROW3           */
/* ------------------------ */

.row3 {
  height: 6rem;
  gap: 0.3rem;
  margin-bottom: 2rem;
}

.bx1 {
  background-color: #58ff57;
  border: 1px solid black;
}

/* ------------------------ */
/*           ROW4           */
/* ------------------------ */

.row4 {
  height: 5rem;
  gap: 2rem;
  margin: 2rem 2.5rem;
}

.bx2 {
  background-color: var(--gold);
  border: 1px solid black;
}

/* ------------------------ */
/*           ROW5           */
/* ------------------------ */

.row5 {
  height: 6rem;
  gap: 1rem;
  margin: 1.2rem 1rem;
}

.bx3 {
  background-color: var(--dark-green);
  border: 1px solid black;
}

/* --------------------------- */

.col-2 {
  width: 16.66666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-6 {
  width: 50%;
}

.col-9 {
  width: 75%;
}

.col-12 {
  width: 100%;
}
