* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: lightsalmon;
  /* padding: 10px; */
  border: 1px solid red;
}

.div1 {
  background-color: teal;
  width: 150px;
  height: 150px;
  border: 5px solid red;
  margin-top: 50px;
}

.div2 {
  color: yellow;
  background-color: blue;
  width: 150px;
  height: 150px;
  border: 5px solid red;
  margin-top: 50px;
}

.div3 {
  background-color: lime;
  width: 150px;
  height: 150px;
  border: 5px solid red;
  margin-top: 50px;
  margin-bottom: 50px;
}
