<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <h1>HELLO DE09</h1>
    <!-- send code to nodejs -->
    <% 
        console.log('hello everybody');
        console.log('birden fazla satir da yazilabilir');
    %>
    <!-- safe-print to html -->
    <%= 5+9 %>
    <%= '<p>Hi <b> Erkan </b> hocam</p>'  %>
    <!-- direct-print to html -->
    <%- '<p>Hi <b> Erkan </b> hocam</p>'  %>
    <!-- comment with ejs -->
    <%# comment %>
    <!-- direct-print to html and remove newLine (\n) -->
    <%- '<p>Hi <b> Erkan </b> hocam</p>'  -%>
</body>
</html>