@import "../../scss/variable";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 4rem;

  .card {
    max-width: 400px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;

    img {
      width: 80%;
      border-radius: 3rem;
      margin-top: 1rem;
    }

    h1 {
      color: $turuncu;
    }
    h2 {
      color: $lightGreen;
    }
    p {
      color: $kirmizi;
    }
  }
}
