* {
  /* border: 2px solid black; */
}

body {
  background-color: bisque;
}

h1 {
  color: red;
  border: 2px solid black;
}

li {
  color: green;
  list-style: none;
  margin-right: 50px;
  display: inline-block;
}

li:hover {
  font-size: 20px;
  color: crimson;
}

.lili {
  /* background-color: crimson; */
  border: none;
}

#rengin {
  /* background-color: chartreuse; */
}

.list {
  /* background-color: aqua;
  padding: 1rem; */
}
