* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------------------------- */
/*        Variable Decleration        */
/* ---------------------------------- */

$bgColor: pink;
$fontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$fontSize: 1.2rem;
$fontColor: #fff;
$navbgColor: #30a7c3;
$myBorder: 2px solid brown;
$bannerColor: hotpink;
$buttonColor: rgb(143, 20, 81);

@mixin flexCenterSpacebetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: $bgColor;
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $fontColor;
}

/* ---------------------------------- */
/*               Header               */
/* ---------------------------------- */

header {
  background-color: $navbgColor;
  @include flexCenterSpacebetween();
  padding: 1rem;

  img {
    width: 80px;
    border: $myBorder;
    border-radius: 1rem;
  }

  ul {
    list-style-type: none;

    li {
      display: inline-block;
      padding: 0.5rem;

      &:hover {
        text-decoration: underline;
      }
    }

    a {
      color: $fontColor;
      text-decoration: none;
    }
  }
}

/* ---------------------------------- */
/*               Banner               */
/* ---------------------------------- */

.banner {
  background-color: $bannerColor;
  @include flexCenterSpacebetween();
  padding: 1rem;
  line-height: 2rem;

  aside {
    button {
      border: none;
      padding: 0.5rem;
      background-color: $buttonColor;
      color: $fontColor;
      transition: all 0.3s;

      &:hover {
        background-color: rgb(225, 11, 118);
        cursor: pointer;
        transform: scale(0.97);
      }
    }
  }

  img {
    width: 30%;
    max-width: 400px;
    min-width: 250px;
  }
}

/* ---------------------------------- */
/*                CARDS               */
/* ---------------------------------- */

@mixin myBox($backColor, $color) {
  width: 25%;
  height: 15rem;
  background-color: $backColor;
  border-radius: 10px;
  color: $color;
  @include flexCenter();
}

.cards {
  display: flex;
  gap: 1rem;
  padding: 1rem;

  .card1 {
    @include myBox(blue, yellow);
  }
  .card2 {
    @include myBox(magenta, purple);
  }
  .card3 {
    @include myBox(yellow, cadetblue);
  }
  .card4 {
    @include myBox(gray, black);
  }
}

/* ---------------------------------- */
/*              Articles              */
/* ---------------------------------- */

.articles {
  display: flex;
  gap: 1rem;
  padding: 1rem;

  .article1 {
    background-color: gray;
    width: 50%;
    height: 10rem;
    border-radius: 10px;
    border: 2px solid black;
    @include flexCenter();
  }

  .article2 {
    @extend .article1;
    background-color: indianred;
    color: indigo;
  }
}
