@import "./theme.css";

* {
  box-sizing: border-box;
  margin: 0;
  font-weight: 500;
  font-family: var(--ff-montserrat);
}

body {
  background-color: var(--blue-light-4);
}

h1 {
  font-size: 50px;
  background-color: var(--koyu-kirmizi);
  border: 2px solid black;
  width: 300px;
  text-align: center;
  margin: 1rem auto;
  border-radius: 50px;
  padding: 10px 0;
}

.header {
  background-color: var(--koyu-yesil);
  padding: 20px;
  margin: 20px 0;
}

.navbar {
  background-color: var(--gri-4);
  text-align: end;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
}
