$bgColor: pink;
$fontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$fontSize: 1.2rem;
$fontColor: #fff;
$navbgColor: #30a7c3;
$myBorder: 2px solid brown;
$bannerColor: hotpink;
$buttonColor: rgb(143, 20, 81);
