<nav class="blog-pagination" aria-label="Pagination">
  <!-- <a class="btn btn-outline-primary rounded-pill" href="#">1</a> -->
  <!-- <a class="btn btn-outline-secondary rounded-pill">2</a>  -->

  {% for(index in details.pages.list) { %}
  <a
    class="btn rounded-pill {%= details.pages.list[index] == details.pages.current ? "btn-outline-primary":"btn-outline-secondary" %}"
    href="#"
  >
    {%= details.pages.list[index] %}
  </a>

  {% } %}
</nav>
<p class="p-2 text-end border-top">Total {%= details.totalRecords%} Posts</p>
