<nav class="blog-pagination" aria-label="Pagination">
  <a class="btn btn-outline-primary rounded-pill" href="#">1</a>
  <a class="btn btn-outline-secondary rounded-pill">2</a>
</nav>
<p class="p-2 text-end border-top">Total 5 Posts</p>
