{% console.log(posts) %} {% posts.forEach((post)=>{ %}
<article class="blog-post">
  <h2 class="mb-1 display-5">
    <a href="/post/:id" class="link-body-emphasis text-decoration-none">
      {%= post.title %}
    </a>
  </h2>
  <p class="blog-post-meta">{%= post.createdAt.toUTCString() %}</p>
  <p>
    <img
      src=" {%= post.imageUrl %} "
      alt="{%= post.title %}"
      style="
        width: 180px;
        height: 180px;
        float: left;
        margin: 0px 15px 15px 0px;
      "
    />
    {%= post.content.substring(0, 500) %}
    <span role="button" class="text-primary pointer">...read more</span>
  </p>
  <div class="admin-area text-end">
    <a class="btn btn-sm btn-primary" href="/post/{%= post._id %}/update"
      >Update</a
    >
    <a
      class="btn btn-sm btn-danger"
      href="/post/{%= post._id %}/delete"
      onclick="return confirm('Are you sure?')"
      >Delete</a
    >
  </div>
</article>
{% }) %}
