<div class="col-md-4">
  <div class="position-sticky" style="top: 2rem">
    <div>
      <h3 class="fst-italic">Recent Posts</h3>
      <ul class="list-unstyled">
        <!-- Recent posts -->
        {% recentPosts.forEach(post => { %}
        <li>
          <a
            class="gap-3 py-3 d-flex flex-column flex-lg-row align-items-start align-items-lg-center link-body-emphasis text-decoration-none border-top"
            href="/post/{%= post._id%}"
          >
            <div class="col-lg-8">
              <h5>{%= post.title %}</h5>
              <p class="my-2">
                {%= post.content.substring(0, 80) %}
                <span>...</span>
              </p>
              <small class="text-body-secondary"
                >{%= post.createdAt.toUTCString() %}</small
              >
            </div>
          </a>
        </li>
        {% }) %}
      </ul>
    </div>
  </div>
</div>
