.abs {
  font-size: 50px;
}

.rel1 {
  background-color: crimson;
  width: 50%;
}

.rel2 {
  background-color: aqua;
  width: 50%;
}

.rel3 {
  background-color: coral;
  width: 70vw;
}

.card {
  border: 1px solid red;
  width: 50%;
  height: 400px;
}

.card img {
  width: 100%;
  height: 100%;
}
