.container {
  width: 20rem;
  height: 20rem;
  background-color: cornflowerblue;
  margin: auto;
  /* background-image: linear-gradient(
    to right bottom,
    rgb(195, 165, 108),
    rgb(72, 72, 173),
    rgb(199, 87, 87)
  );
  background-image: url(./background.jpg);
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center top;  */
  background: linear-gradient(
      60deg,
      rgba(195, 165, 108, 0.777),
      rgba(72, 72, 173, 0.486),
      rgba(199, 87, 87, 0.326)
    ),
    url(./background.jpg) no-repeat center top;
  background-size: cover;
  text-align: center;
  position: relative;
  overflow: scroll;
}

p {
  color: white;
  position: absolute;
  top: 40%;
  left: 10%;
}
